{% extends 'components/base.html' %}
{% load static %}
{% block content %}


<section id="portfolio" class="portfolio section-bg">
        <div class="section-title">
            <h2>{{title}}</h2>
          </div>

        <form method="POST" class="m-4"> 
            {% csrf_token %}
            <div class="text-align-center">
                
                {% block data %}

                {% endblock data %}

                 <button class="btn btn-outline-danger mx-2"  type="submit">Eliminar</button>
                  <a class="btn btn-warning ms-2 float-end" href='{{ list }}'>Cancelar</a>
            </div>
        
           
        </form>
<section>

{% endblock content %}