{% extends "components/base.html" %}
{% load static %}


{% block content %}
<section id="portfolio" class="portfolio section-bg">
    <div class="section-title">
        <h2>{{title}}</h2>
        <p>Conozca a nuestros distintos clientes en el siguiente listado</p>
      </div>
      
      
      {% if 'core.add_costumer' in permissions %}

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <a href={% url "core:new_costumer" %} data-bs-toggle="tooltip" data-bs-title="Nuevor"><li data-filter="*" class="filter-active"><i class="bi bi-person-fill-add"></i>Nuevo cliente</li></a>
            </ul>
          </div>
        </div>

      {% else %}

        <br>

      {% endif %}
        
      <form action="" style="max-width: 450px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Busqueda por nombres, apellidos o cédula" name="query" value="{{ request.GET.query }}">
            <button class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-title="Busqueda por nombres, apellidos o cédula">
                Buscar
            </button>
        </div>
    </form>

    <br>

    <table class="table table-bordered border-primary" colspan="6">

        <thead>
            <tr>
              <th scope="col">Apellidos</th>
              <th scope="col">Nombres</th>
              <th scope="col">Cédula</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for costumer in costumers %}
            <tr>
                <td>{{costumer.last_name}}</td>
                <td>{{costumer.first_name}}</td>
                <td>{{costumer.id_number}}</td>

                {% if costumer.email %}
                <td>{{costumer.email}}</td>
                {% else %}
                <td>Sin e-mail</td>
                {% endif %}
                
                {% if costumer.phone_number%}
                <td>{{costumer.phone_number}}</td>
                {% else %}
                <td>Sin teléfono</td>
                {% endif %}

                {% if costumer.address%}
                <td>{{costumer.address}}</td>
                {% else %}
                <td>Sin dirección</td>
                {% endif %}
                
                <td>
                    <a href="#" class="show-details" data-bs-toggle="tooltip" data-bs-title="Detalles"
                    data-costumer="{{ costumer.first_name }}|{{ costumer.last_name }}|{{ costumer.id_number}}"
                    data-bs-toggle="modal" data-bs-target="#costumerDetailsModal">
                    <i class="bi bi-info-circle-fill"></i>
                    </a>

                    {% if 'core.change_costumer' in permissions %}
                    <a href={% url 'core:update_costumer' costumer.id %} data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                    {% endif %}

                    {% if 'core.delete_costumer' in permissions %}
                    <a href={% url 'core:delete_costumer' costumer.id  %} data-bs-toggle="tooltip" data-bs-title="Borrar"><i class="bi bi-x-circle-fill"></i></a>
                    {% endif %}
                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="7">Sin datos</td>
            </tr>

            {% endfor %}

          </tbody>

    </table>

<div class="container center">
    {% if page_obj.paginator.num_pages > 1 %}
    <ul class="pagination">
      <li class="page-item">

      <a class="page-link text-primary fw-bold" href="?page=1">&laquo;</a>
      
      </li>
        {% for page_num in page_obj.paginator.page_range %}
            <li class="list-group-item {% if page_num ==  page_obj.number %}active{% endif %} ">
                <a class="page-link text-dark fw-bold" href="{% url 'costumer' %}?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}

        <li class="page-item">
            <a class="page-link text-primary fw-bold" href="{% url 'costumer' %}?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
    </ul>
  {% endif %}
  </div>


  <div class="modal fade" id="costumerDetailsModal" tabindex="-1" aria-labelledby="costumerDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="costumerDetailsModalLabel">Detalles del Cliente</h5>
          </div>
          <div class="modal-body">

             <p id="firstName"></p>
             <p id="lastName"></p>
             <p id="id_number"></p>

          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
       </div>
    </div>
 </div>

</section>

<script>
  
  $('.show-details').on('click', function () {
    var costumerData = $(this).data('costumer').split('|');
    
    // Verifica la longitud antes de acceder a los elementos
    if (costumerData.length === 3) {
        $('#firstName').html('Nombres: ' + costumerData[0]);
        $('#lastName').html('Apellidos: ' + costumerData[1]);
        $('#id_number').html('Cédula: ' + costumerData[2]);
        $('#costumerDetailsModal').modal('show');

    } else {

        console.error('Formato de datos incorrecto');
    }
});

</script>


{% endblock content %}
    