{% extends "index/base_list.html" %}
{% load static %}


{% block add %}
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <ul id="portfolio-flters">
        <a href= {% url 'security:user_create' %} data-bs-toggle="tooltip" data-bs-title="Nuevo"><li data-filter="*" class="filter-active"><i class="bi bi-person-fill-add"></i>Nuevo {{button}}</li></a>
      </ul>
    </div>
  </div>
  <br>
{% endblock add %}

{% block search %}
  <form action="" style="max-width: 450px;">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Búsqueda de usuario" name="query" value="{{ request.GET.query }}">
      <button class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-title="Búsqueda de usuario">
        Buscar
      </button>
    </div>
  </form>
{% endblock search %}

{% block rows %}
  {% for item in userlist %}
    <tr>
      <td><img src="{{item.get_image_url}}" width="50px"  class="rounded-circle" /></td>
      <td>{{item.username}}</td>
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.email}}</td>
      <td>
        {% if 'security.change_user' in permissions %}
          <a href={% url 'security:user_update' item.id %} data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
        {% endif %}

        {% if 'security.delete_user' in permissions %}
          <a href={% url 'security:user_delete' item.id %} data-bs-toggle="tooltip" data-bs-title="Borrar"><i class="bi bi-trash"></i></a>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="{{ headers|length }}">Sin datos  {{userlist|length}}</td>
    </tr>
  {% endfor %}
{% endblock rows %}

{% block pagination %}
  <div class="container d-flex justify-content-center mt-4">
    {% if page_obj.paginator.num_pages > 1 %}
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link text-primary fw-bold" href="?page=1">&laquo;</a>
        </li>
        {% for page_num in page_obj.paginator.page_range %}
          <li class="list-group-item {% if page_num ==  page_obj.number %}active{% endif %}">
            <a class="page-link text-dark fw-bold" href="{% url 'security:user' %}?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endfor %}
        <li class="page-item">
          <a class="page-link text-primary fw-bold" href="{% url 'security:user' %}?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock pagination %}
